<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Frisbeeboys</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/tailwind-dev.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    </environment>
</head>
<body class="bg-gray-200">
<header class="bg-gray-700 p-4 text-white sticky top-0 z-50 border-b-4 border-blue-500 flex">
    <div class="flex-auto text-xl font-bold">
        <a href="@Url.Content("~/")">🥏 Frisbeeboys</a>
    </div>
    <div class="justify-self-end">
        <a href="https://github.com/janerist/frisbeeboys">
            <img src="~/img/GitHub-Mark-32px.png" alt="GitHub" class="w-7 h-7" />
        </a>
    </div>
</header>
<main class="container p-2 sm:p-4">
    @RenderBody()
</main>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>