@model Frisbeeboys.Web.Controllers.Scorecards.Models.ScorecardsIndexModel

<form class="mb-4" method="GET" action="@Url.Action("Index")">
    <select class="w-full sm:w-auto" name="course" asp-for="Course" asp-items="Model.Courses" onchange="this.form.submit()">
    </select>
    
    @if (Model.Layouts.Any())
    {
        <select class="mt-1 w-full sm:mt-0 sm:w-auto" name="layout" asp-for="Layout" asp-items="Model.Layouts" onchange="this.form.submit()">
        </select>
    }
</form>